{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>App 2 - Vista 2</title>
</head>
<body style="font-family: sans-serif; background-color: blue; padding: 20px;">
    <h1>OH DIOS MIO UNA TAMAMO CROSS :OOOOO</h1>
    <br>
    <br>
    <div>
        <img src="{% static 'app2/img/Tamamo Cross.jpg' %}" alt="Logo" style="width: 750px; height: 750px;">
    </div>

    <p>Bonito la Tamamo si =3=</p>
    <a href="/app2/vista1/">Ah si, la vista 1 esa (OGURI KINO)</a>
</body>
</html>