{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>App 2 - Vista 1</title>
</head>
<body style="font-family: sans-serif; background-color: white; padding: 20px;">
    <h1>OH DIOS MIO UNA OGURI CAP :OOOOO</h1>
    <br>
    <br>
    <div>
        <img src="{% static 'app2/img/Oguri Cap.jpg' %}" alt="Logo" style="width: 750px; height: 750px;">
    </div>

    <p>Dios mio que bonito que esta Oguri</p>
    <a href="/app2/vista2/">Ah si, la vista 2 se puede ver de aqui</a>
</body>
</html>