{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App1 - Se supone que es vista 1?</title>
</head>
<body style="font-family: sans-serif; background-color: pink; padding: 20px;">
    <h1>Bienvegoynidos a ver UNA FOTO DE HARU URARA</h1>
    <p>Esta es la primera vista de app 1 no? creo DX</p>
    <br>
    <br>
    <div>
        <img src="{% static 'app1/img/Haru Urara.jpg' %}" alt="Funny" style="width: 300px; height: 300px;">
    </div>
    <a href="/app1/vista2/">Ir de paso a la Vista 2 de la app 1</a>
</body>
</html>